# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-lock.yaml

# Next.js
.next/
out/
.vercel/
.turbo/

# Logs
logs
*.log
yarn.lock
pnpm-lock.yaml

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.local
.env.*.local

# Build artifacts
dist/
coverage/

# große lokale Medien, die NICHT zu Git sollen
public/videos/clips/
public/videos/raw/
public/_raw/
